/* .navBar{
    position: sticky;
    top: 0;
} */

.nav-bar{
    width: 100%;
    height: 65px;
    background-color: #002333;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    color: #fff;
    font-size: 20px;
    line-height: 1;
    padding: 5px;
    margin: 3px;
}

.nav-logo >div::first-letter {
    color: #57F8AA;
    font-size: 24px;
}

.nav-btn{
    margin: 0 25px !important;
}

.btn-list{
    list-style: none;
    display: flex;
    padding: 14px;
}

.btn-list > li{
    margin:0 15px !important;
}

.navbtn-icon{
    color: #fff !important;
    font-size:18px !important ;
}

.navbtn-icon:hover{
    color: #2b2b2b !important;
    background-color: #57F8AA !important;
}

@media screen and (max-width:1024px) {
    .nav-bar{
        width: 100%;
        height: 60px;
        background-color: #002333;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-logo{
        color: #fff;
        font-size: 20px;
        line-height: 1;
        padding: 5px;
    }
    
    .nav-logo >div::first-letter {
        color: #57F8AA;
        font-size: 22px;
    }
    
    .btn-list{
        list-style: none;
        display: flex;
        padding: 15px;
    }
    
    .btn-list > li{
        margin:0 12px;
    }
    .navbtn-icon{
        color: #fff !important;
        font-size:12px !important ;
    }
    .nav-btn{
        margin: 0 10px !important;
    }
    
}

@media screen and (max-width:768px) {
    
    .nav-bar{
        width: 100%;
        height: 55px;
        background-color: #002333;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-logo{
        color: #fff;
        font-size: 18px;
        line-height: 1;
        padding: 3px;
    }
    
    .nav-logo >div::first-letter {
        color: #57F8AA;
        font-size: 20px;
    }
    
    .btn-list{
        list-style: none;
        display: flex;
        padding: 13px;
    }
    
    .btn-list > li{
        margin:0 5px !important;
    }

    .nav-btn{
        font-size: 8px !important;
    }
    .nav-btn{
        margin: 0 14px;
    }

}

/* .dropdwn {
    display: flex;
    right: 10px;
    top: 0;
    position: absolute;
    flex-direction: column;
    display: none;
    width: 320px;
    height: 300px;
    text-align: center;
    background: #ebecf1b6;
    border-radius: 8px;
    font-size: 20px;
  color: black;
  padding: 10px 10px;

  }

  .close-icon {
    font-size: 30px;
    cursor: pointer;
  }
  .cls-btn {
    display: flex;
    justify-content: flex-end;
  } */